:root {
    --wine-red: #4d201a;
    --gold: #c2ba47;
    --moegi: #98a820;
    --silver: gray;
    --seiheki: #488484;
}

ion-title {
    background-color: var(--wine-red);
    color: var(--gold);
    margin: 0px;
    text-align-last: center;
}